body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(232, 232, 232);
}

.continer {
  /* border: 1px solid red; */
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 50px;
  box-shadow: 4px 4px 8px;
  position: relative;
}

.search {
  height: 40px;
  /* border: 1px solid black; */
  border-radius: 100%;
  position: absolute;
  left: 0;
  cursor: pointer;
  transition: 1000ms;
}
.mic {
  height: 40px;
  border-radius: 100%;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: 1000ms;
}

.input {
  height: 30px;
  width: 225px;
  margin: 0 10px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 1000ms;
}
.active {
  width: 0;
}

.active .continer {
  box-shadow: none;
}

.active.input {
  width: 0;
}

.active.mic {
  width: 0;
}

.active.search {
  width: 40px;
  box-shadow: 4px 4px 8px;
  padding: 5px;
  position: static;
  right: 50%;
  transition: 3s ease-in-out;
}
